name: pytest

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: install
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]
      - name: ruff
        run: |
          ruff .
      - name: pytest
        run: |
          pytest
